<div id="logo-desktop">
        <svg
        width="265"
        height="50"
        viewBox="0 0 192 23"
        className="Logo__Desktop"

        version="1.1" 
        viewBox="0 0 77.428 32.953" 
        xmlns="http://www.w3.org/2000/svg" 
        xmlns:cc="http://creativecommons.org/ns#" 
        xmlns:dc="http://purl.org/dc/elements/1.1/" 
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns">
        
        <g transform="translate(+10 -72.399)">
            <text class="change-fill"  x="-0.76714724" y="98.489014" fill="#000000" font-size="37.922px" letter-spacing="0px" stroke-width=".94805" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="-0.76714724" y="98.489014" font-family="'Ubuntu Mono'" stroke-width=".94805">angelortizv</tspan></text>
        </g>
      </svg>
</div>


<div id="logo-mobile" class="hidden">
    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
    width="10" height="10" viewBox="0 0 512.000000 512.000000"
    >


   </svg>
</div>